@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/* Variables */
$color-light: #fff;
$color-dark: #444;
$color-background: #ececec;
$color-font: black;
$color-sidebars: rgba(144,204,244,0.2);
$color-titles: #f78888; //#19181a;
$color-posts: #f3d250;
$color-border-sidebars: rgba(144,204,244,1);

$font-logo: 'Sacramento', cursive;
$font-header: 'Staatliches', cursive; //'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;
/* Global */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 25px;
  letter-spacing: 1px;
  color: $color-titles;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 500;
  text-align: center;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}
/* Layout */
.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
  background-color: $color-sidebars;
  border: 2px solid $color-border-sidebars;
}
.left-sidebar{
  display: inline;
}

.posts {
  flex: 4 0 0;
  border: 2px solid $color-posts;
  overflow: auto;
}

.posts,
.sidebar {
  margin-right: 10px;
  padding: 30px;
  position: relative;
}
/* Logo */
.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 134px;
  line-height: 1;
  color: $color-titles;
  text-align: center;
  background-image: url("https://images.pexels.com/photos/1055272/pexels-photo-1055272.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  margin: 10px;
  padding: 100px 0;
  background-size: cover;
  height: 300px;
  background-position: center;
}
/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline;
  }
}
/*Tags*/
.tags li {
  display: inline-block;
  margin: 0 3px;
  a {
  text-decoration: none;
  }
}
.tag-size-5 {
  font-size: 25px;
  color: green;
}

.tag-size-3 {
  font-size: 20px;
  color: red;
}

.tag-size-2 {
  font-size: 20px;
  color: orange;
}

.tag-size-1 {
  font-size: 15px;
  color: grey;
}

.tags li > a:active {
  text-decoration: underline;
}
/* Authors */
.authors {
  li {
    margin-bottom: 12px;
  }
}
/* Post */
.post {
  transition: all 0.3s ease-in;
  opacity: 0;
  padding: 10px;
  position: absolute;
  &.active {
    opacity: 1;
    z-index: 10;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}
@media (max-width: 767px) {
  .sidebar {
    padding: 20px;
  }

  .posts {
    padding: 10px;
  }
}
